{{{header}}}

	<div class="container">
		<div class="row">
			<h1>Buttons</h1>
			<p>
				la construcción de los botones estilizados es fácil. todos los botones se construyen con la clase <mark>btn</mark>. sólo tiene que añadir algunas de estas clases para obtener los diseños que necesita
			</p>
			<hr>
			<h2 class="h1">Diferentes tipos de botones</h2>
			<p>
				Estilos básicos de botones.
			</p>
			<br/>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<button class="btn btn-default">Default</button>
			<button class="btn btn-primary">Primary</button>
			<button class="btn btn-success">Success</button>
			<button class="btn btn-info">Info</button>
			<button class="btn btn-danger">Danger</button>
			<button class="btn btn-warning">Warning</button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;
					&lt;button class=&quot;btn btn-primary&quot;&gt;Primary&lt;/button&gt;
					&lt;button class=&quot;btn btn-success&quot;&gt;Success&lt;/button&gt;
					&lt;button class=&quot;btn btn-info&quot;&gt;Info&lt;/button&gt;
					&lt;button class=&quot;btn btn-danger&quot;&gt;Danger&lt;/button&gt;
					&lt;button class=&quot;btn btn-warning&quot;&gt;Warning&lt;/button&gt;
				 </code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h3 class="h1">Buttons Outline</h3>
			<p>
				Crear fácilmente botones con contornos.
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<button class="btn btn-default-outline">Default</button>
			<button class="btn btn-primary-outline">Primary</button>
			<button class="btn btn-success-outline">Success</button>
			<button class="btn btn-info-outline">Info</button>
			<button class="btn btn-danger-outline">Danger</button>
			<button class="btn btn-warning-outline">Warning</button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-default-outline&quot;&gt;Default&lt;/button&gt;
					&lt;button class=&quot;btn btn-primary-outline&quot;&gt;Primary&lt;/button&gt;
					&lt;button class=&quot;btn btn-success-outline&quot;&gt;Success&lt;/button&gt;
					&lt;button class=&quot;btn btn-info-outline&quot;&gt;Info&lt;/button&gt;
					&lt;button class=&quot;btn btn-danger-outline&quot;&gt;Danger&lt;/button&gt;
					&lt;button class=&quot;btn btn-warning-outline&quot;&gt;Warning&lt;/button&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h4 class="h1">Buttons full</h4>
			<p>
				Añadiendo la classe <mark>u-full-width</mark> el elemento cubre todo el contenedor
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<br/>
			<button class="btn btn-default btn-lg u-full-width">Default</button>
			<button class="btn btn-primary btn-lg u-full-width">Primary</button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-default u-full-width&quot;&gt;default&lt;/button&gt;
					&lt;button class=&quot;btn btn-default u-full-width&quot;&gt;primary&lt;/button&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h5 class="h1">Button size</h5>
			<p>
				Para cambiarle el tamaño a los botones deben añadirle la classe <mark>btn-sm</mark> boton pequeño , <mark>btn</mark> boton normal , <mark>btn-lg</mark> boton grande.
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<br/>
			<button class="btn btn-default btn-sm">Small</button>
			<button class="btn btn-primary btn-sm">Small</button>
			<br>
			<button class="btn btn-default">Default</button>
			<button class="btn btn-primary">Default</button>
			<br>
			<button class="btn btn-default btn-lg">Large</button>
			<button class="btn btn-primary btn-lg">Large</button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-default btn-sm&quot;&gt;small&lt;/button&gt;
					&lt;button class=&quot;btn btn-default&quot;&gt;default&lt;/button&gt;
					&lt;button class=&quot;btn btn-default btn-lg&quot;&gt;large&lt;/button&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h6 class="h1">Buttons Icon</h6>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<br/>
			<button class="btn btn-primary">Upload <i class="ui-upload"></i></button>
			<button class="btn btn-warning">Warning <i class="ui-warning"></i></button>
			<button class="btn btn-success">Cart <i class="ui-cart"></i></button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-primary&quot;&gt;Upload &lt;i class=&quot;ui-upload&quot;&gt;&lt;/i&gt;&lt;/button&gt;
					&lt;button class=&quot;btn btn-warning&quot;&gt;Warning &lt;i class=&quot;ui-upload&quot;&gt;&lt;/i&gt;&lt;/button&gt;
					&lt;button class=&quot;btn btn-success&quot;&gt;Upload &lt;i class=&quot;ui-upload&quot;&gt;&lt;/i&gt;&lt;/button&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h1 class="h1">Buttons Disabled</h1>
			<p>
				Añandiendo la classe <mark>btn-disabled</mark> el boton se desactivara
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<br/>
			<button class="btn btn-default btn-disabled">Default</button>
			<button class="btn btn-primary btn-disabled">Primary</button>
			<button class="btn btn-success btn-disabled">Success</button>
			<button class="btn btn-info btn-disabled">Info</button>
			<button class="btn btn-danger btn-disabled">Delete</button>
			<button class="btn btn-warning btn-disabled">Warning</button>
			<br>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<pre>
				<code class="html">
					&lt;button class=&quot;btn btn-default btn-disabled&quot;&gt;Default&lt;/button&gt;
					&lt;button class=&quot;btn btn-primary btn-disabled&quot;&gt;Primary&lt;/button&gt;
					&lt;button class=&quot;btn btn-success btn-disabled&quot;&gt;Success&lt;/button&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row icon-demo">
			<h2 class="h1" id="icons">46 Icons</h2>
			<p>
				Iconos creados con <a href="http://iconmoon.io/">iconmoon</a> y <a href="http://www.entypo.com/">entypo</a>.
				<br> para añadir iconos debes usar la plantilla a continuación, en sustitución de "ui-name" con el nombre del icono que aparece a continuación.
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<br/>
			<br/>
			<pre>
				<code class="html">
					&lt;i class=&quot;<span id="code" class="false">ui-name</span>&quot;&gt;&lt;/i&gt;
				</code>
			</pre>
			<hr>
			<span class="btn-label danger">Ejemplo</span>
			<div class="row">
				<span class="icon" title="ui-user"><i title="Click me" class="ui-user"></i></span>
				<span class="icon" title="ui-users"><i title="Click me" class="ui-users"></i></span>
				<span class="icon" title="ui-user-plus"><i title="Click me" class="ui-user-plus"></i></span>
				<span class="icon" title="ui-user-minus"><i title="Click me" class="ui-user-minus"></i></span>
				<span class="icon" title="ui-calendar"><i title="Click me" class="ui-calendar"></i></span>
				<span class="icon" title="ui-time"><i title="Click me" class="ui-time"></i></span>
				<span class="icon" title="ui-cog"><i title="Click me" class="ui-cog"></i></span>
				<span class="icon" title="ui-download"><i title="Click me" class="ui-download"></i></span>
				<span class="icon" title="ui-upload"><i title="Click me" class="ui-upload"></i></span>
				<span class="icon" title="ui-music"><i title="Click me" class="ui-music"></i></span>
				<span class="icon" title="ui-check"><i title="Click me" class="ui-check"></i></span>
				<span class="icon" title="ui-cross"><i title="Click me" class="ui-cross"></i></span>
				<span class="icon" title="ui-minus"><i title="Click me" class="ui-minus"></i></span>
				<span class="icon" title="ui-plus"><i title="Click me" class="ui-plus"></i></span>
				<span class="icon" title="ui-nav"><i title="Click me" class="ui-nav"></i></span>
				<span class="icon" title="ui-laptop"><i title="Click me" class="ui-laptop"></i></span>
				<span class="icon" title="ui-tablet"><i title="Click me" class="ui-tablet"></i></span>
				<span class="icon" title="ui-mobile"><i title="Click me" class="ui-mobile"></i></span>
				<span class="icon" title="ui-tv"><i title="Click me" class="ui-tv"></i></span>
				<span class="icon" title="ui-phone"><i title="Click me" class="ui-phone"></i></span>
				<span class="icon" title="ui-share"><i title="Click me" class="ui-share"></i></span>
				<span class="icon" title="ui-facebook"><i title="Click me" class="ui-facebook"></i></span>
				<span class="icon" title="ui-twitter"><i title="Click me" class="ui-twitter"></i></span>
				<span class="icon" title="ui-github"><i title="Click me" class="ui-github"></i></span>
				<span class="icon" title="ui-instagram"><i title="Click me" class="ui-instagram"></i></span>
				<span class="icon" title="ui-thumbs-up"><i title="Click me" class="ui-thumbs-up"></i></span>
				<span class="icon" title="ui-thumbs-down"><i title="Click me" class="ui-thumbs-down"></i></span>
				<span class="icon" title="ui-home"><i title="Click me" class="ui-home"></i></span>
				<span class="icon" title="ui-pencil"><i title="Click me" class="ui-pencil"></i></span>
				<span class="icon" title="ui-image"><i title="Click me" class="ui-image"></i></span>
				<span class="icon" title="ui-images"><i title="Click me" class="ui-images"></i></span>
				<span class="icon" title="ui-film"><i title="Click me" class="ui-film"></i></span>
				<span class="icon" title="ui-book"><i title="Click me" class="ui-book"></i></span>
				<span class="icon" title="ui-books"><i title="Click me" class="ui-books"></i></span>
				<span class="icon" title="ui-cart"><i title="Click me" class="ui-cart"></i></span>
				<span class="icon" title="ui-phone2"><i title="Click me" class="ui-phone2"></i></span>
				<span class="icon" title="ui-mail"><i title="Click me" class="ui-mail"></i></span>
				<span class="icon" title="ui-save"><i title="Click me" class="ui-save"></i></span>
				<span class="icon" title="ui-trash"><i title="Click me" class="ui-trash"></i></span>
				<span class="icon" title="ui-rocket"><i title="Click me" class="ui-rocket"></i></span>
				<span class="icon" title="ui-flag"><i title="Click me" class="ui-flag"></i></span>
				<span class="icon" title="ui-warning"><i title="Click me" class="ui-warning"></i></span>
				<span class="icon" title="ui-arrow-up"><i title="Click me" class="ui-arrow-up"></i></span>
				<span class="icon" title="ui-arrow-down"><i title="Click me" class="ui-arrow-down"></i></span>
				<span class="icon" title="ui-arrow-left"><i title="Click me" class="ui-arrow-left"></i></span>
				<span class="icon" title="ui-arrow-right"><i title="Click me" class="ui-arrow-right"></i></span>
			</div>
		</div>
	</div>

{{{footer}}}
