{{{header}}}

	<div class="container">
		<div class="row">
			<h1>jQuery</h1>
			<p>
				<a href="">jQuery</a> es una librería gratuita y open source, que simplifica la creación de páginas web altamente interactivas. Funciona en todos los exploradores de internet modernos y abstrae características especificas de cada uno de estos, permitiéndonos enforcarnos en el diseño y resultado final, en lugar de tratar de desarrollar funciones complejas en exploradores individuales.
			</p>
			<span class="btn-label warning">Etiqueta de enlace</span>
			<pre>
				<code class="html">
					&lt;script type=&quot;text/javascript&quot; src=&quot;js/jquery.js&quot;&gt;&lt;/script&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h2 class="h1">ResponsiveUI lightbox</h2>
			<p>
				<a href="">Magnific popup</a> es lightbox responsive y en el rendimiento y proporcionar una mejor experiencia de usuario con cualquier dispositivo.
			</p>
			<span class="btn-label warning">Etiquetas de enlace</span>
			<pre>
				<code class="html">
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/responsive-ui-lightbox.css&quot;&gt;
					&lt;script type=&quot;text/javascript&quot; src=&quot;js/responsive-ui-lightbox.js&quot;&gt;&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;a class=&quot;img&quot; href=&quot;...&quot;&gt;&lt;img class=&quot;img col-5&quot; src=&quot;...&quot;&gt;&lt;/a&gt;
					&lt;script type=&quot;text/javascript&quot;&gt;
						<span class="tab-40"></span>$('.img').magnificPopup({
							<span class="tab-80"></span>image: {
								<span class="tab-120"></span>src: '...'
							<span class="tab-80"></span>},
							<span class="tab-80"></span>type: 'image'
						<span class="tab-40"></span>});
					&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<br/>
			<br/>
			<a class="img" style="outline:0;" href="/img/image-1.jpg"><img class="img col-5" src="/img/image-1.jpg" alt="imagen de ejemplo"></a>
		</div>
		<hr>
		<div class="row">
			<h4 class="h1">ResponsiveUI tabs</h4>
			<span class="btn-label warning">Etiquetas de enlace</span>
			<pre>
				<code class="html">
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/responsive-ui-tabs.css&quot;&gt;
					&lt;script type=&quot;text/javascript&quot; src=&quot;js/responsive-ui-tabs.js&quot;&gt;&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;ul class=&quot;tabs&quot;&gt;
					<span class="tab-40"></span>&lt;li class=&quot;tab current&quot; data-tabs=&quot;tab-1&quot;&gt;Tab one&lt;/li&gt;
					&lt;/ul&gt;
					&lt;div id=&quot;tab-1&quot; class=&quot;tab-content current&quot;&gt;
					<span class="tab-40"></span>&lt;p&gt;
					<span class="tab-80"></span>...
					<span class="tab-40"></span>&lt;/p&gt;
					&lt;/div&gt;
				</code>
			</pre>
			<br>
			<span class="btn-label danger">Ejemplo</span>
			<div class="cont-tabs">
				<ul class="tabs">
					<li class="tab current" data-tab="tab-1">Tab One</li>
					<li class="tab" data-tab="tab-2">Tab Two</li>
					<li class="tab" data-tab="tab-3">Tab Three</li>
					<li class="tab" data-tab="tab-4">Tab Four</li>
				</ul>
				<div id="tab-1" class="tab-content current">
					<h2>Tab One</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div id="tab-2" class="tab-content">
					<h2>Tab Two</h2>
					<p>
						Illo, iste, pariatur, dicta, consequatur maiores deserunt temporibus doloribus voluptas asperiores sint dolorum deleniti animi mollitia quod ullam fugit a atque inventore facilis ab dolorem magni necessitatibus tempore dolor itaque.
					</p>
				</div>
				<div id="tab-3" class="tab-content">
					<h2>Tab Three</h2>
					<p>
						Eligendi, accusantium, inventore alias ab eos explicabo quam temporibus. Quae, error, ea repudiandae praesentium illo distinctio molestiae placeat totam quibusdam cumque veniam animi aut mollitia laborum soluta repellendus deleniti illum? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div id="tab-4" class="tab-content">
					<h2>Tab Four</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<h5 class="h1">ResponsiveUI accordion</h5>
			<span class="btn-label warning">Etiquetas de enlace</span>
			<pre>
				<code class="html">
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/responsive-ui-accordion.css&quot;&gt;
					&lt;script type=&quot;text/javascript&quot; src=&quot;js/responsive-ui-accordion.js&quot;&gt;&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;div class=&quot;accordion&quot;&gt;
					<span class="tab-40"></span>&lt;div class=&quot;accordion-section&quot;&gt;
					<span class="tab-80"></span>&lt;a class=&quot;accordion-section-title&quot; href=&quot;#accordion-1&quot;&gt;Accordion Section #1&lt;/a&gt;
					<span class="tab-80"></span>&lt;div id=&quot;accordion-1&quot; class=&quot;accordion-section-content&quot;&gt;
					<span class="tab-120"></span>&lt;p&gt;
					<span class="tab-160"></span>...
					<span class="tab-120"></span>&lt;/p&gt;
					<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-40"></span>&lt;/div&gt;
					&lt;/div&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<div class="accordion">
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-1">Accordion Section #1</a>
					<div id="accordion-1" class="accordion-section-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
	
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-2">Accordion Section #2</a>
					<div id="accordion-2" class="accordion-section-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
	
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-3">Accordion Section #3</a>
					<div id="accordion-3" class="accordion-section-content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{{{footer}}}
