	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<center style="color:#D9121K2; font-size:30px;">Error , modulo no encontrado <i class="ui-warning"></i></center>
	<center><a href="/{{atras}}">Volver a la pagina anterior</a></center>
	<!--
		ul>li>a[href="pagina$.html"]{item$}*5
	-->
	<!--
		html>head+body
	-->
	<!--
		html>(head>title)+body
	-->
	<!--
		html>(head>title)+body>article>h1+(p>strong)
	-->
	
