	<footer class="row">
		<p class="text-center">
			Este sitio fue diseñado y construido por <a href="">VictorDiaz</a>, las herramientas utilizadas?,<a href="https://www.sublimetext.com/">Sublime text</a>,<a href="http://www.geany.org/">Geany</a>, <a href="https://icomoon.io/">Icomoon</a>,<a href="http://jquery.com/">Jquery</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">HTML5</a> y <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS3</a>. ResponsiveUI está disponible bajo la licencia <a href="https://www.gnu.org/licenses/lgpl.html">GPL</a>
		</p>
	
		<ul>
			<li><a href="http://localhost:8888/index">HOME</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/documentation">DOCUMENTATION</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/buttons">BUTTONS</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/forms">FORMS</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/list">LIST &amp; NAV</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/table_code">TABLE &amp; CODE</a></li>
			<li class="font-sm">|</li>
			<li><a href="http://localhost:8888/typography">TYPOGRAPHY</a></li>
		</ul>
		<div class="container icons text-center">
			<nav>
				<a class="facebook" href="https://www.facebook.com/DiazUrbanejaVictor"><i class="ui-facebook"></i></a>
				<a class="instagram" href="mailto:victor.vector008@gmail.com"><i class="ui-mail"></i></a>
				<a class="github" href="https://github.com/DiazVictor"><i class="ui-github"></i></a>
			</nav>
		</div>
		<span style="margin-left: 5px;position:fixed;bottom:-1px;" class="hide-mobile"><small>ResponsiveUI 2016-2018</small></span>
	</footer>
