{{{header}}}

	<div class="container">
		<div class="row">
			<h1>Formularios</h1>
			<p>
				Los formularios son un dolor enorme, pero esperemos que estos estilos lo hagan más fácil. Todos los <mark>input</mark>, <mark>select</mark> ,etc y los botones están normalizados para una altura común entre navegadores por lo que las entradas se pueden apilar o colocar uno junto al otro.
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;fieldset&gt;
					<span class="tab-40"></span>&lt;form&gt;
					<span class="tab-80"></span>&lt;div class=&quot;row col-5 col-md-10 u-pull-left&quot;&gt;
					<span class="tab-120"></span>&lt;label for=&quot;email&quot; class=&quot;col-9 col-md-10&quot;&gt;Email :&lt;/label&gt;
					<span class="tab-120"></span>&lt;input type=&quot;email&quot; class=&quot;col-9 col-md-10&quot; id=&quot;email&quot; placeholder=&quot;Introduzca su email&quot; autocomplete=&quot;off&quot; value=&quot;&quot;/&gt;
					<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-80"></span>&lt;div class=&quot;row col-5 col-md-10 u-pull-right&quot;&gt;
					<span class="tab-120"></span>&lt;label for=&quot;select&quot; class=&quot;col-10&quot;&gt;Select :&lt;/label&gt;
					<span class="tab-120"></span>&lt;select class=&quot;col-10&quot; id=&quot;select&quot;&gt;
					<span class="tab-160"></span>&lt;option&gt;...&lt;/option&gt;
					<span class="tab-120"></span>&lt;/select&gt;
					<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-80"></span>&lt;div class=&quot;row col-10&quot;&gt;
					<span class="tab-120"></span>&lt;label for=&quot;mensaje&quot; class=&quot;col-10&quot;&gt;Mensaje&lt;/label&gt;
					<span class="tab-120"></span>&lt;textarea id=&quot;mensaje&quot;&gt;&lt;/textarea&gt;
					<span class="tab-120"></span>&lt;div class=&quot;u-pull-left&quot;&gt;
					<span class="tab-160"></span>&lt;label&gt;
					<span class="tab-180"></span>&lt;input type=&quot;checkbox&quot; autocomplete=&quot;off&quot;/&gt;
					<span class="tab-160"></span>&lt;/label&gt;
					<span class="tab-160"></span>&lt;label&gt;
					<span class="tab-180"></span>&lt;input type=&quot;radio&quot; autocomplete=&quot;off&quot;/&gt;
					<span class="tab-160"></span>&lt;/label&gt;
					<span class="tab-120"></span>&lt;/div&gt;
					<span class="tab-120"></span>&lt;div class=&quot;u-pull-right&quot;&gt;
					<span class="tab-160"></span>&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Enviar&lt;/button&gt;
					<span class="tab-160"></span>&lt;button type=&quot;reset&quot; class=&quot;btn btn-danger&quot;&gt;Limpiar&lt;/button&gt;
					<span class="tab-120"></span>&lt;/div&gt;
					<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-40"></span>&lt;/form&gt;
					&lt;/fieldset&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<fieldset>
				<form>
					<div class="row col-5 col-md-10 u-pull-left">
						<label for="email" class="col-9 col-md-10">Email:</label>
						<input type="email" placeholder="Introduzca su email" id="email" class="col-9 col-md-10" />
					</div>
					<div class="row col-5 col-md-10 u-pull-right">
						<label for="select" class="col-10">Select:</label>
						<select id="select" class="col-10">
							<option value="HTML">HTML</option>
							<option value="CSS">CSS</option>
							<option value="JAVASCRIPT">JAVASCRIPT</option>
							<option value="LUA">LUA</option>
							<option value="SQL">SQL</option>
							<option value="PHP">PHP</option>
						</select>
					</div>
					<br/>
					<br/>
					<br/>
					<div class="row col-10">
						<label for="mensaje" class="col-10">Mensaje</label>
						<textarea id="mensaje"></textarea>
						<div class="u-pull-left">
							<label>
								Checkbox
								<input type="checkbox" autocomplete="off"/>
							</label>
							<label>
								Radio
								<input type="radio" autocomplete="off"/>
							</label>
						</div>
						<div class="u-pull-right">
							<button type="button" class="btn btn-primary">Enviar</button>
							<button type="reset" class="btn btn-danger">Limpiar</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
		<hr>
		<div class="row">
			<h2 class="h1">Input disabled</h2>
			<p>
				Añandiendo la classe <mark>input-disabled</mark> el input se desactivara
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;input type=&quot;text&quot; class=&quot;input-disabled&quot; placeholder=&quot;input disabled&quot;&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<br />
			<input type="text" class="input-disabled" placeholder="input disabled">
		</div>
		<hr>
		<div class="row">
			<h3 class="h1"><a href="http://localhost:8888/buttons#icons" target="_blank">Icon</a> Input</h3>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;div class=&quot;form-icon&quot;&gt;
					<span class="tab-40"></span>&lt;div class=&quot;icon-input&quot;&gt;&lt;i class=&quot;ui-user&quot;&gt;&lt;/i&gt;&lt;/div&gt;
					<span class="tab-40"></span>&lt;input type=&quot;text&quot; placeholder=&quot;Usuario&quot; autocomplete=&quot;off&quot;&gt;
					&lt;/div&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<div class="form-icon">
				<div class="icon-input"><i class="ui-user"></i></div>
				<input type="text" id="usuario" placeholder="Usuario" autocomplete="off">
			</div>
		</div>
		<hr>
		<div class="row">
			<h4 class="h1">Input size</h4>
			<p>
				Para cambiarle el tamaño a los input deben añadirle la classe <mark>input-sm</mark> input pequeño , <mark>input</mark> input normal , <mark>input-lg</mark> input grande.
			</p>
			<span class="btn-label warning">Etiqueta de enlace</span>
			<pre>
				<code class="html">
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/responsive-ui-utilities.css&quot;&gt;
				</code>
			</pre>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;input type=&quot;text&quot; autocomplete=&quot;off&quot; class=&quot;input-sm col-3&quot;&gt;
					&lt;input type=&quot;text&quot; autocomplete=&quot;off&quot; class=&quot;col-4&quot;&gt;
					&lt;input type=&quot;text&quot; autocomplete=&quot;off&quot; class=&quot;input-lg col-3&quot;&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<div class="row">
				<input type="text" autocomplete="off" class="col-3 input-lg">
				<input type="text" autocomplete="off" class="col-3">
				<input type="text" autocomplete="off" class="col-3 input-sm">
			</div>
		</div>
		<hr>
		<div class="row">
			<h4 class="h1">Validacion de input</h4>
			<span class="btn-label warning">Etiquetas de enlace</span>
			<pre>
				<code class="html">
					&lt;link rel=&quot;stylesheet&quot; href=&quot;css/responsive-ui-validator.css&quot;&gt;
					&lt;script type=&quot;text/javascript&quot; src=&quot;js/responsive-ui-validator.js&quot;&gt;&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;form&gt;
					<span class="tab-40"></span>&lt;input type=&quot;text&quot; id=&quot;textvalidate&quot; placeholder=&quot;Text&quot; class=&quot;validate_input col-3&quot; autocomplete=&quot;off&quot;&gt;
					<span class="tab-40"></span>&lt;input type=&quot;password&quot; id=&quot;passwordvalidate&quot; placeholder=&quot;Password&quot; class=&quot;validate_input col-4&quot;
					<span class="tab-40"></span>autocomplete=&quot;off&quot;&gt;
					<span class="tab-40"></span>&lt;input type=&quot;email&quot; id=&quot;emailvalidate&quot; placeholder=&quot;Email&quot; class=&quot;validate_input col-3&quot; autocomplete=&quot;off&quot;&gt;
					<span class="tab-40"></span>&lt;button type=&quot;button&quot; id=&quot;buttonvalidate&quot;&gt;Enviar&lt;/button&gt;
					<span class="tab-40"></span>&lt;button type=&quot;reset&quot;&gt;Limpiar&lt;/button&gt;
					&lt;/form&gt;
					&lt;div id=&quot;cont_msg&quot; class=&quot;cont_msg&quot;&gt;
					<span class="tab-40"></span>&lt;div id=&quot;mensaje&quot;&gt;&lt;/div&gt;
					&lt;/div&gt;
					&lt;script type=&quot;text/javascript&quot;&gt;
						<span class="tab-40"></span>var campos = {
							<span class="tab-80"></span>emailvalidate: {
								<span class="tab-120"></span>required: true,
								<span class="tab-120"></span>tipo: 'email',
								<span class="tab-120"></span>mensaje: 'Email es un campo obligatorio'
							<span class="tab-80"></span>},
							<span class="tab-80"></span>passwordvalidate: {
								<span class="tab-120"></span>required: true,
								<span class="tab-120"></span>tipo: 'text',
								<span class="tab-120"></span>mensaje: 'Password es un campo obligatorio'
							<span class="tab-80"></span>},
							<span class="tab-80"></span>textvalidate: {
								<span class="tab-120"></span>required: true,
								<span class="tab-120"></span>tipo: 'text',
								<span class="tab-120"></span>mensaje: 'Text es un campo obligatorio'
							<span class="tab-80"></span>}
						<span class="tab-40"></span>};
						<span class="tab-40"></span>document.getElementById('buttonvalidate').addEventListener('click', function () {
							<span class="tab-80"></span>if (Guachi.validate(campos)) {
								<span class="tab-120"></span>Guachi.hide(Guachi_Def.id_cont_msg)
								<span class="tab-120"></span>alert("Enviado con exito");
							<span class="tab-80"></span>}
						<span class="tab-40"></span>}, false);
					&lt;/script&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<form>
				<input type="text" id="textvalidate" placeholder="Text" class="validate_input col-3" autocomplete="off">
				<input type="password" id="passwordvalidate" placeholder="Password" class="validate_input col-3" autocomplete="off">
				<input type="email" id="emailvalidate" placeholder="Email" class="validate_input col-3" autocomplete="off">
				<button type="button" class="btn btn-primary" id="buttonvalidate">Enviar</button>
				<button type="reset" class="btn btn-danger">Limpiar</button>
				<br>
			</form>
			<div id="cont_msg" class="cont_msg">
				<div id="mensaje"></div>
			</div>
		</div>
	</div>

{{{footer}}}
