{{{header}}}

	<div class="container">
		<center>
			<!--<span style="font-size: 50px;"><span style="color:#0A8BD2;">R</span>esponsive<span style="color:#EC1919;">U</span><span style="color:#F2981D;">I</span></span>-->
			<span style="font-size: 50px;">ResponsiveUI</span>
			<br/>
			<p>
				ResponsiveUI es una estructura modular, extrema para ayudar con facilidad y rapidez la creación de interfaces para paginas web.
			</p>
			<a href="http://hub.ispcore.com.ve/VictorDiaz/ResponsiveUI/archive/master.zip" class="btn btn-primary">Descargar 3.5.0</a>
			<a href="http://hub.ispcore.com.ve/VictorDiaz/ResponsiveUI/" class="btn btn-warning">Ver el repo en Github</a>
		</center>
		<hr>
		<div class="row">
			<h2 class="h1">Grid</h2>
			<p>
				Para construir una aplicacion web responsive debe añadir la clase <mark>container</mark> y la clase <mark>row</mark> , aquí te mostramos cómo configurar un sistema de rejillas con un <mark>col-4</mark> de cuatro columnas y un <mark>col-7</mark> de siete columnas.
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;div class=&quot;container&quot;&gt;
					<span class="tab-40"></span>&lt;div class=&quot;row&quot;&gt;
						<span class="tab-80"></span>&lt;div class=&quot;col-3&quot;&gt;
						
						<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-40"></span>&lt;/div&gt;
					<span class="tab-40"></span>&lt;div class=&quot;row&quot;&gt;
						<span class="tab-80"></span>&lt;div class=&quot;col-7&quot;&gt;
						
						<span class="tab-80"></span>&lt;/div&gt;
					<span class="tab-40"></span>&lt;/div&gt;
					&lt;/div&gt;
				</code>
			</pre>
			<p>
				ResponsiveUI utiliza un sistema de rejilla de 10 columnas. he aquí un ejemplo de él en acción.
			</p>
			<div class="is-default col-10" style="height:40px;">.col-10</div>
			<div class="is-default col-1" style="height:40px;">.col-1</div>
			<div class="is-default col-9" style="height:40px;">.col-9</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-8" style="height:40px;">.col-8</div>
			<div class="is-default col-3" style="height:40px;">.col-3</div>
			<div class="is-default col-7" style="height:40px;">.col-7</div>
			<div class="is-default col-4" style="height:40px;">.col-4</div>
			<div class="is-default col-6" style="height:40px;">.col-6</div>
			<div class="is-default col-5" style="height:40px;">.col-5</div>
			<div class="is-default col-5" style="height:40px;">.col-5</div>
			<div class="is-default col-6" style="height:40px;">.col-6</div>
			<div class="is-default col-4" style="height:40px;">.col-4</div>
			<div class="is-default col-7" style="height:40px;">.col-7</div>
			<div class="is-default col-3" style="height:40px;">.col-3</div>
			<div class="is-default col-8" style="height:40px;">.col-8</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-9" style="height:40px;">.col-9</div>
			<div class="is-default col-1" style="height:40px;">.col-1</div>
		</div>
		<hr/>
		<div class="row">
			<h5 class="h1">Algunos ejemplos mas complicados</h5>
			<p>
				debe añadir la etiqueta de enlace <mark>responsive-ui-utilities.css</mark>, para poder usar las clases is y las clases hide
			</p>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-1 col-sm-10&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
				</code>
			</pre>

			<span class="btn-label danger">Ejemplo</span>
			<br/>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>
			<div class="is-default col-1 col-sm-10" style="height:40px;">.col-1</div>

			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;div class=&quot;is-default col-2&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-2&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-2&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-2&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-2&quot; style=&quot;height: 40px;&quot;&gt;...&lt;/div&gt;
				</code>
			</pre>
			
			<span class="btn-label danger">Ejemplo</span>
			<br/>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>
			<div class="is-default col-2" style="height:40px;">.col-2</div>

			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;div class=&quot;is-default col-3 col-md-5 hide-mobile&quot; style=&quotheight: 40px;&quot&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-4 hide-tablet&quot; style=&quotheight: 40px;&quot&gt;...&lt;/div&gt;
					&lt;div class=&quot;is-default col-3 col-md-5 hide-mobile&quot; style=&quotheight: 40px;&quot&gt;...&lt;/div&gt;
				</code>
			</pre>

			<span class="btn-label danger">Ejemplo</span>
			<br/>
			<div class="is-default col-3 col-md-5 hide-mobile" style="height:40px;">.col-3</div>
			<div class="is-default col-4 hide-tablet" style="height:40px;">.col-4</div>
			<div class="is-default col-3 col-md-5 hide-mobile" style="height:40px;">.col-3</div>
		</div>
		<hr/>
		<div class="row">
			<h3 class="h1">Columnas</h3>
			<div class="responsive-table">
				<table>
					<thead>
						<tr>
							<th>Columns</th>
							<th>Width%</th>
							<th>Tablet</th>
							<th>Mobile</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><mark>.col-1</mark></td>
							<td><mark>10%</mark></td>
							<td><mark>10%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-2</mark></td>
							<td><mark>20%</mark></td>
							<td><mark>20%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-3</mark></td>
							<td><mark>30%</mark></td>
							<td><mark>30%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-4</mark></td>
							<td><mark>40%</mark></td>
							<td><mark>40%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-5</mark></td>
							<td><mark>50%</mark></td>
							<td><mark>50%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-6</mark></td>
							<td><mark>60%</mark></td>
							<td><mark>60%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-7</mark></td>
							<td><mark>70%</mark></td>
							<td><mark>70%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-8</mark></td>
							<td><mark>80%</mark></td>
							<td><mark>80%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-9</mark></td>
							<td><mark>90%</mark></td>
							<td><mark>90%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
						<tr>
							<td><mark>.col-10</mark></td>
							<td><mark>100%</mark></td>
							<td><mark>100%</mark></td>
							<td><mark>100%</mark></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<div class="row">
				<h4 class="h1">Media Queries</h4>
				<p>
					Las reglas <mark>@media</mark> son un tipo especial de regla CSS que permiten indicar de forma directa el medio o medios en los que se aplicarán los estilos incluidos en la regla. Para especificar el medio en el que se aplican los estilos, se incluye su nombre después de <mark>@media</mark>. Si los estilos se aplican a varios medios, se incluyen los nombres de todos los medios separados por comas.
				</p>
				<div class="responsive-table">
					<table>
						<thead>
							<tr>
								<th>Size</th>
								<th>Breakpoint</th>
								<th>Viewport</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Desktop</td>
								<td>@media (max-width:1200px) { ... }</td>
								<td>Desktop Screens</td>
							</tr>
							<tr>
								<td>Tablet</td>
								<td>@media (max-width:800px) { ... }</td>
								<td>Tablet Screens</td>
							</tr>
							<tr>
								<td>Mobile</td>
								<td>@media (max-width:400px) { ... }</td>
								<td>Mobile Screens</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{{{footer}}}
