{{{header}}}

	<div class="container">
		<div class="row">
			<h1>Listas</h1>
			<p>Crear una lista desordenada con el elemento <mark>ul</mark>, o una lista ordenada con el elemento <mark>ol</mark>.</p>
			<span class="btn-label danger">Ejemplo</span>
			<br>
			<br>
			<ul style="display:inline-block; margin-left:20px;">
				<li>Item#1</li>
				<li>Item#2
					<ul>
						<li>Subitem#1</li>
						<li>Subitem#2</li>
					</ul>
				</li>
				<li>Item#3</li>
				<li>Item#4</li>
			</ul>
			<ol style="display:inline-block; margin-left:200px;">
				<li>Item#1</li>
				<li>Item#2
					<ol>
						<li>Subitem#1</li>
						<li>Subitem#2</li>
					</ol>
				</li>
				<li>Item#3</li>
				<li>Item#4</li>
			</ol>
		</div>
		<br>
		<span class="btn-label primary">Modo de uso</span>
		<pre>
			<code>
				&lt;ul&gt;
				<span class="tab-40"></span>&lt;li&gt;Item#1&lt;/li&gt;
				<span class="tab-40"></span>&lt;li&gt;Item#2
					<span class="tab-80"></span>&lt;ul&gt;
						<span class="tab-120"></span>&lt;li&gt;Subitem#1&lt;/li&gt;
						<span class="tab-120"></span>&lt;li&gt;Subitem#2&lt;/li&gt;
					<span class="tab-80"></span>&lt;/ul&gt;
				<span class="tab-40"></span>&lt;/li&gt;
				<span class="tab-40"></span>&lt;li&gt;Item#3&lt;/li&gt;
				<span class="tab-40"></span>&lt;li&gt;Item#4&lt;/li&gt;
				&lt;/ul&gt;
			</code>
		</pre>
		<hr>
		<div class="row">
			<h2 class="h1">Nav</h2>
			<p>
				Utilizar esta sencilla navegación en la parte izquierda de sus aplicaciones web.
			</p>
			<span class="btn-label danger">Ejemplo</span>
			<br>
			<br>
			<div class="nav-bar col-3">
				<ul>
					<li class="nav-item"><a class="active" href="">Home <i class="ui-home u-pull-right"></i></a></li>
					<li class="nav-item"><a href="">Music <i class="ui-music u-pull-right"></i></a></li>
					<li class="nav-item"><a href="">Film <i class="ui-film u-pull-right"></i></a></li>
					<li class="nav-item"><a href="">Picture <i class="ui-image u-pull-right"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code class="html">
					&lt;div class=&quot;nav-bar col-3&quot;&gt;
					<span class="tab-40"></span>&lt;ul&gt;
						<span class="tab-80"></span>&lt;li class=&quot;nav-item&quot;&gt;&lt;a class=&quot;active&quot; href=&quot;&quot;&gt;Home &lt;i class=&quot;ui-home u-pull-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;&quot;&gt;Music &lt;i class=&quot;ui-music u-pull-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;&quot;&gt;Film &lt;i class=&quot;ui-film u-pull-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;&quot;&gt;Picture &lt;i class=&quot;ui-image u-pull-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					<span class="tab-40"></span>&lt;/ul&gt;
					&lt;/div&gt;
				</code>
			</pre>
		</div>
		<hr>
		<div class="row">
			<h3 class="h1">Paginacion</h3>
			<p>
				el componente de la paginación proporciona enlaces estilizados para cualquier sitio web o aplicación web que contiene múltiples paginación.
			</p>
			<span class="btn-label danger">Ejemplo</span>
			<br>
			<br>
			<div class="pagination">
				<ul>
					<li><a href="">«</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="" class="active">5</a></li>
					<li><a href="">»</a></li>
				</ul>
			</div>
		</div>
		<br>
		<span class="btn-label primary">Modo de uso</span>
		<pre>
			<code class="html">
				&lt;div class=&quot;pagination&quot;&gt;
					<span class="tab-40"></span>&lt;ul&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;&laquo;&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;active&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
						<span class="tab-80"></span>&lt;li&gt;&lt;a href=&quot;&quot;&gt;&raquo;&lt;/a&gt;&lt;/li&gt;
					<span class="tab-40"></span>&lt;/ul&gt;
				&lt;/div&gt;
			</code>
		</pre>
	</div>

{{{footer}}}
