<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{titulo}}</title>
    <meta name="application-name" content="ResponsiveUI">
    <meta name="generator" content="Turbo.lua is just another framework to create network programs for Linux.">
	<meta name="generator" content="Geany 1.30.1">
	<meta name="description" content="{{descripcion}}">
	<meta name="keywords" content="{{keywords}}">
	<meta name="author" content="Victor Eduardo Diex Diaz Urbaneja">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon.png" />
	{{#css}}
	<link rel="stylesheet" href="/css/{{{css}}}">
	{{/css}}
</head>
<body>
{{{body}}}
	{{#js}}
	<script src="/js/{{{js}}}"></script>
	{{/js}}
</body>
</html>
