{{{header}}}

	<div class="container">
		<h1>Tablas</h1>
		<p>
			Asegúrese de usar etiquetado de la tabla adecuadamente formado con <mark>thead</mark> y <mark>tbody</mark> en la construcción de una tabla.
		</p>
		<span class="btn-label primary">Modo de uso</span>
		<pre>
					<code class="html">
						&lt;div class=&quot;responsive-table&quot;&gt;
					<span class="tab-40"></span>&lt;table&gt;
						<span class="tab-80"></span>&lt;thead&gt;
							<span class="tab-120"></span>&lt;tr&gt;
								<span class="tab-160"></span>&lt;th&gt;Item&lt;/th&gt;
								<span class="tab-160"></span>&lt;th&gt;Taste&lt;/th&gt;
								<span class="tab-160"></span>&lt;th&gt;Total&lt;/th&gt;
							<span class="tab-120"></span>&lt;/tr&gt;
						<span class="tab-80"></span>&lt;/thead&gt;
						<span class="tab-80"></span>&lt;tbody&gt;
							<span class="tab-120"></span>&lt;tr&gt;
								<span class="tab-160"></span>&lt;td&gt;Burrito&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;Awesome&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;$6.00&lt;/td&gt;
							<span class="tab-120"></span>&lt;/tr&gt;
							<span class="tab-120"></span>&lt;tr&gt;
								<span class="tab-160"></span>&lt;td&gt;Thai&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;Such Awesome&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;$12.00&lt;/td&gt;
							<span class="tab-120"></span>&lt;/tr&gt;
						<span class="tab-80"></span>&lt;/tbody&gt;
						<span class="tab-80"></span>&lt;tfooter&gt;
							<span class="tab-120"></span>&lt;tr class="table-primary"&gt;
								<span class="tab-160"></span>&lt;td&gt;Pizza&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;Much Awesome&lt;/td&gt;
								<span class="tab-160"></span>&lt;td&gt;$17.00&lt;/td&gt;
							<span class="tab-120"></span>&lt;/tr&gt;
						<span class="tab-80"></span>&lt;/tfooter&gt;
					<span class="tab-40"></span>&lt;/table&gt;
				&lt;/div&gt;
			</code>
		</pre>
		<span class="btn-label danger">Ejemplo</span>
		<div class="responsive-table">
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Taste</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Burrito</td>
						<td>Awesome</td>
						<td>$6.00</td>
					</tr>
					<tr>
						<td>Thai</td>
						<td>Such Awesome</td>
						<td>$12.00</td>
					</tr>
				</tbody>
				<tfooter>
					<tr class="table-primary">
						<td>Pizza</td>
						<td>Much Awesome</td>
						<td>$17.00</td>
					</tr>
				</tfooter>
			</table>
		</div>
		<hr/>
		<div class="row">
			<h2>Modifier Classes</h2>
			<p>
				Colocandole una clase table-primary a un <mark>tr</mark> podran modificar su estilo
			</p>
			<span class="btn-label danger">Ejemplo</span>
			<div class="responsive-table">
				<table>
					<thead>
						<tr>
							<th>Class</th>
							<th>Descripcion</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-success">
							<td><mark>table-success</mark></td>
							<td>Añade el color success a la columna de la tabla</td>
						</tr>
						<tr class="table-primary">
							<td><mark>table-primary</mark></td>
							<td>Añade el color primary a la columna de la tabla</td>
						</tr>
						<tr class="table-info">
							<td><mark>table-info</mark></td>
							<td>Añade el color info a la columna de la tabla</td>
						</tr>
						<tr class="table-warning">
							<td><mark>table-warning</mark></td>
							<td>Añade el color warning a la columna de la tabla</td>
						</tr>
					</tbody>
					<tfooter>
						<tr class="table-danger">
							<td><mark>table-danger</mark></td>
							<td>Añade el color danger a la columna de la tabla</td>
						</tr>
					</tfooter>
				</table>
			</div>
		</div>
		<hr>
		<div class="row">
			<h3 class="h1">Code</h3>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;pre&gt;
						<span class="tab-40"></span>&lt;code&gt;
							<span class="tab-80"></span>&#x9;&#x9;&#x9;&#x9;.style {
								<span class="tab-120"></span>color:#2ECC71;
							<span class="tab-80"></span>}
						<span class="tab-40"></span>&lt;/code&gt;
					&lt;/pre&gt;
				</code>
			</pre>
			<span class="btn-label danger">Ejemplo</span>
			<pre class="no-highlight">
				<code>
					.style {
						<span class="tab-40"></span>color:#2ECC71;
					}
				</code>
			</pre>
		</div>
	</div>

{{{footer}}}
