{{{header}}}

	<div class="container">
		<div class="row">
			<div class="row">
				<h1>Typography</h1>
				<p>
					ResponsiveUI viene equipado con la fuente <a href="https://www.fontsquirrel.com/fonts/quenda" target="_blank">Quenda Medium</a> de <a href="http://marc-lohner.com/" target="_blank">Marc Lohner</a>. si no es la fuente que desea utilizar puede asignar nuevos tipos de fuentes en el archivo <mark>responsive-ui.css</mark> > <mark>Typography</mark>.
				</p>
				<span class="btn-label danger">Ejemplo</span>
				<pre>
					<code class="css">
						@font-face {
							<span class="tab-40"></span>font-family: 'Baloo Bhaina';
							<span class="tab-40"></span>font-style: normal;
							<span class="tab-40"></span>font-weight: 400;
							<span class="tab-40"></span>src: local('Baloo Bhaina'), local('BalooBhaina-Regular'), url(https://fonts.gstatic.com/s/baloobhaina/v1/Hxx
							<span class="tab-40"></span>bxOVf9WQem_hKo1MXSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
						}
					</code>
				</pre>
			</div>
			<hr>
			<div class="row">
				<h2 class="h1">Heading</h2>
				<p>
					Todos los títulos html <mark>h1</mark> a <mark>h6</mark> están disponibles para su uso. también encontrará <mark>.h1</mark> a <mark>.h6</mark> para asignar un estilo a cualquier elemento que desee.
				</p>
				<span class="btn-label danger">Ejemplo</span>
				<br>
				<div class="section">
					<h1>H1 Heading</h1>
					<h2>H2 Heading</h2>
					<h3>H3 Heading</h3>
					<h4>H4 Heading</h4>
					<h5>H5 Heading</h5>
					<h6>H6 Heading</h6>
				</div>
				<br>
				<span class="btn-label primary">Modo de uso</span>
				<br>
				<pre>
					<code>
						&lt;h1&gt;H1 Heading&lt;/h1&gt;
						&lt;h2&gt;H2 Heading&lt;/h2&gt;
						&lt;h3&gt;H3 Heading&lt;/h3&gt;
						&lt;h4&gt;H4 Heading&lt;/h4&gt;
						&lt;h5&gt;H5 Heading&lt;/h5&gt;
						&lt;h6&gt;H6 Heading&lt;/h6&gt;
					</code>
				</pre>
			</div>
			<hr>
			<h3 class="h1">Text Sizes</h3>
			<p>
				Añadir diferentes tamaños de texto a cualquier elemento mediante el uso de estas clases.
			</p>
			<table class="responsive-table">
				<thead>
					<tr>
						<th>Ejemplo</th>
						<th>Class</th>
						<th>Estilo css</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span class="font-xs">12px</span></td>
						<td><mark>font-xs</mark></td>
						<td>font-size = 12px / 0.75rem</td>
					</tr>
					<tr>
						<td><span class="font-sm">14px</span></td>
						<td><mark>font-sm</mark></td>
						<td>font-size = 14px / 0.85rem</td>
					</tr>
					<tr>
						<td>16px</td>
						<td>( ResponsiveUI base size )</td>
						<td>font-size = 16px / 1rem</td>
					</tr>
					<tr>
						<td><span class="font-lg">20px</span></td>
						<td><mark>font-lg</mark></td>
						<td>font-size = 20px / 1.25rem</td>
					</tr>
					<tr>
						<td><span class="font-xl">24px</span></td>
						<td><mark>font-xl</mark></td>
						<td>font-size = 24px / 1.50rem</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h4 class="h1">Blockquote</h4>
			<p>
				La etiqueta <mark>&lt;blockquote&gt;</mark> se utiliza para designar una cita de texto larga ( en forma de bloque ).
			</p>
			<span class="btn-label danger">Ejemplo</span>
			<br/>
			<blockquote>
				parafo de ejemplo
				<cite>Autor</cite>
			</blockquote>
			<br>
			<span class="btn-label primary">Modo de uso</span>
			<pre>
				<code>
					&lt;blockquote&gt;
						<span class="tab-40"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						<span class="tab-40"></span>tempor incididunt ut labore et dolore magna aliqua.
						<span class="tab-40"></span>&lt;cite&gt;Lorem&lt;/cite&gt;
					&lt;/blockquote&gt;
				</code>
			</pre>
			<hr>
			<div class="row">
				<p>
					ResponsiveUI tiene clases para ayudar con la alineación del texto. encontrará <mark>text-left</mark>, <mark>text-right</mark>, etc.
				</p>
				<span class="btn-label warning">Etiqueta de enlace</span>
				<pre>
					<code>
						&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;css/responsive-ui-utilities.css&quot;&gt;
					</code>
				</pre>
				<br>
				<span class="btn-label danger">Ejemplo</span>
				<br>
				<br>
				<div class="u-pull-left col-4">
					<p class="text-left">
						<mark>.text-left</mark>
						<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, possimus, dignissimos mollitia blanditiis labore optio reiciendis odio iure doloremque quam eveniet doloribus laudantium inventore non atque officiis explicabo perspiciatis nam.
					</p>
					<p class="text-center">
						<mark>.text-center</mark>
						<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, possimus, dignissimos mollitia blanditiis labore optio reiciendis odio iure doloremque quam eveniet doloribus laudantium inventore non atque officiis explicabo perspiciatis nam.
					</p>
				</div>
				<div class="u-pull-right col-4">
					<p class="text-right">
						<mark>.text-right</mark>
						<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, possimus, dignissimos mollitia blanditiis labore optio reiciendis odio iure doloremque quam eveniet doloribus laudantium inventore non atque officiis explicabo perspiciatis nam.
					</p>
					<p class="text-justified">
						<mark>.text-justified</mark>
						<br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, possimus, dignissimos mollitia blanditiis labore optio reiciendis odio iure doloremque quam eveniet doloribus laudantium inventore non atque officiis explicabo perspiciatis nam.
					</p>
				</div>
			</div>
		</div>
	</div>

{{{footer}}}
