* {
	margin:0;
	padding:0;
}

.btn-scroll-up {
	display:none;
	padding:10px;
	opacity:0.7;
	background:rgba(0,0,0,0.9);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position:fixed;
	bottom:0px;
	right:0px;
	z-index:1000;
}

.btn-scroll-up {
	bottom:1px !important;
	right:1px !important;
}

.btn-scroll-up:hover {
	opacity:0.9;
	background:rgba(0,0,0,0.9);
}
