*{
	margin:0;
	padding:0;
}

header {
	background:rgba(0,0,0,0.9);
	cursor:default;
	height:50px;
	width:100%;
	margin-bottom:20px;
}

header nav ul li{
	float:right;
}

header nav ul li a#nav-menu {
	display:none;
}

header nav ul li a {
	color:#FFF;
	display:block;
	height:50px;
	line-height:37px;
	margin:0;
	outline:0;
	padding:5px 20px;
	text-decoration:none;
}

header nav ul li {
	display:inline-block;
}

header nav ul li a:hover {
	background:#3498DB;
	background:#3498DB;
	color:#FFF;
	text-decoration:none;
}

header nav ul {
	list-style-type:none;
}

.container {
	margin-bottom:25px;
}

footer {
	border-top: 1px solid #eeeeee;
	background: #f9f9f9;
	margin-top: 3rem;
	width: 100%;
	float: left;
}

footer p {
	padding: 0 21%;
	margin: 3rem 0;
}

@media screen and (max-width: 800px) {
	footer p {
		padding: 0 10%;
	}
}

footer ul {
	color: #cccccc;
	text-align: center;
	padding: 0;
	margin-bottom: 3rem;
	clear: both;
}

footer ul li {
	display: inline-block;
	padding: 0 .25rem;
}

@media screen and (max-width: 535px) {
	footer ul li {
		display:none;
	}
}

footer ul li a {
	font-weight: 700;
	border: none;
}

footer .icons {
	padding-bottom: 3rem;
	cursor:default;
}

footer .icons a {
	margin-right: .5rem;
	color: #aaaaaa;
	padding: 0;
	font-size: 24px;
	font-size: 1.5rem;
	outline:0;
}

footer .icons a:last-child {
	margin-right: 0;
}

footer .icons a.facebook:hover {
	text-decoration:none;
	color:#3d5998;
	transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

footer .icons a.twitter:hover {
	text-decoration:none;
	color:#6CDFEA;
	transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

footer .icons a.instagram:hover {
	text-decoration:none;
	color:#666;
	transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

footer .icons a.github:hover {
	text-decoration:none;
	color:#000;
	transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

@media screen and (max-width:906px) {
	header nav ul li a#nav-menu {
		display:block;
		font-size:20px;
		width:100%;
	}

	header nav ul li a#nav-menu {
		cursor:pointer;
		line-height:35px;
	}

	header nav ul li a#nav-menu:focus {
		background:#3498DB !important;
	}

	header nav ul li a#nav-menu:hover {
		background:unset;
	}

	header nav ul li a {
		display:none;
	}
}

span.icon {
	margin: 2px;
	width: 48px;
	position: relative;
	float: left;
	cursor: pointer;
	border: 1px solid #C5C5C5;
	background: #F6F6F6;
	font-weight: normal;
	color: #454545;
	padding: 5px 14px 0px;
}

span.icon:hover {
	background: #FFF;
}

.tab-40 {
	margin-left: 40px;
}

.tab-80 {
	margin-left: 80px;
}

.tab-120 {
	margin-left: 120px;
}

.tab-160 {
	margin-left: 160px;
}

.tab-180 {
	margin-left: 200px;
}

.false{
	color: #D44950;
	font-weight: normal;
}
