/*!
* @package   ResponsiveUI
* @filename  responsive-ui-utilities.css
* @version   1.0
* @autor     Diaz Urbaneja Victor Eduardo Diex <victor.vector008@gmail.com>
* @date      2016
*/

/*	Bolder
*********************************************************/
.no-b {
	border-color:transparent;
	border:none !important;
}

.b-primary {
	border-color: #3498DB;
}

.b-success {
	border-color:#2ECC71;
}

.b-danger {
	border-color: #E74C3C;
}

.b-warning {
	border-color: #F39C12;
}

.b-info {
	border-color: #24CABC;
}

/*	Tipografias
*********************************************************/
.text-left {
	text-align:left !important;
}

.text-right {
	text-align:right !important;
}

.text-center {
	text-align:center !important;
}

.text-justified {
	text-align:justify !important;
}

.font-xs {
	font-size:12px;
}

.font-sm {
	font-size:14px;
}

.font-lg {
	font-size:20px;
}

.font-xl {
	font-size:24px;
}

/*	Elementos
*********************************************************/

.u-pull-right {
	float:right !important;
}

.u-pull-left {
	float:left !important;
}

.u-pull-none {
	float:none !important;
}

.u-full-width {
	display:block;
	width:100% !important;
}

.u-max-full-width {
	max-width:100% !important;
}

/*	Otros
*********************************************************/

.ex-grid {
	background:#F9F9F9;
	border:1px solid #EEE;
	color:#777;
	display:inline-block;
	margin-bottom:20px !important;
	padding:0.5rem;
	text-align:center;
	width:100%;
	line-height:24px;
}

.is-default {
	background:#F9F9F9;
	border:1px solid #EEE;
	color:#777;
	display:inline-block;
	margin-bottom:20px !important;
	padding:0.5rem;
	text-align:center;
	line-height:24px;
}

.is-primary {
	background:#3498DB;
	border:1px solid #2386C8;
	color:#FFF;
	display:inline-block;
	margin-bottom:20px !important;
	margin:0;
	padding:0.5rem;
	text-align:center;
	line-height:24px;
}

.is-success {
	background:#2ECC71;
	border:1px solid #27AF61;
	color:#FFF;
	display:inline-block;
	margin-bottom:20px !important;
	margin:0;
	padding:0.5rem;
	text-align:center;
	width:100%;
	line-height:24px;
}

.is-info {
	background:#24CABC;
	border:1px solid #1FACA0;
	color:#FFF;
	display:inline-block;
	margin-bottom:20px !important;
	margin:0;
	padding:0.5rem;
	text-align:center;
	line-height:24px;
}

.is-danger {
	background:#E74C3C;
	border:1px solid #CD2A19;
	color:#FFF;
	display:inline-block;
	margin-bottom:20px !important;
	margin:0;
	padding:0.5rem;
	text-align:center;
	line-height:24px;
}

.is-warning {
	background:#F39C12;
	border:1px solid #D6880B;
	color:#FFF;
	display:inline-block;
	margin-bottom:20px !important;
	margin:0;
	padding:0.5rem;
	text-align:center;
	line-height:24px;
}

/*	Label
*********************************************************/

.btn-label {
	background-color:#777;
	border:1px solid rgba(0, 0, 0, 0.25);
	color: #FFF;
	display:inline-block;
	font-size:0.75rem;
	font-size:12px;
	margin:.5rem 0;
	letter-spacing:1px;
	padding:0.025rem .25rem;
	vertical-align: middle;
	border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.15);
	-o-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.15);
}

.btn-label.primary {
	background-color:#3498DB;
	color: #FFF;
}

.btn-label.success {
	background-color:#2ECC71;
	color: #FFF;
}

.btn-label.danger {
	background-color:#E74C3C;
	color: #FFF;
}

.btn-label.info {
	background-color:#24CABC;
	color: #FFF;
}

.btn-label.warning {
	background-color:#F39C12;
	color: #FFF;
}

/*	Formularios
*********************************************************/

.button_form {
	border:medium none;
	padding:8px 0 10px;
	width:2rem;
}

.input-lg {
	height:46px !important;
	font-size:20px;
	margin-left:2px !important;
}

.input-sm {
	height:30px !important;
	padding:0.1rem 0.875rem !important;
	font-size:15px;
}

.botonera-form{
	border-top: 1px solid #D1D1D1;
	padding: 1.5rem;
	text-align: center;
}

.custom-input-file {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background:#3498DB;
	border:1px solid #2386C8;
	color:#FFF;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
}

.custom-input-file:hover {
	background: #258CD1;
	border-color: #2077B2;
}

.custom-input-file:active {
	transition:all 0.25s ease-in-out 0s;
	-moz-transition:all 0.25s ease-in-out 0s;
	-ms-transition:all 0.25s ease-in-out 0s;
	-o-transition:all 0.25s ease-in-out 0s;
	-webkit-transition:all 0.25s ease-in-out 0s;
	-webkit-transition:all 0.25s ease-in-out 0s;
	box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.custom-input-file .input-file {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 10000px;
	border: 10000px solid transparent;
	opacity: 0;
	width:200px;
	filter: alpha(opacity=0);
	position: absolute;
	cursor: pointer;
}

/*	Panel
*********************************************************/

.panel {
	border: 1px solid transparent;
	background-color: #FFF;
	display:inline-block;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

#close:hover,#close2:hover {
	color:#FFF;
	background:#E43725;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#close:active,#close2:active {
	color:#CD2A19;
	background:#E43725;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#close,#close2 {
	padding:2px;
	cursor:pointer !important;
	font-size:10px;
}

.panel-warning {
	border-color: #F9CF8B;
}

.panel-warning > .panel-title {
	background-color: #FDEED7;
	border-bottom-color: #F9CF8B;
	color: #E08E0B;
}

.panel-title {
	border-bottom: 1px solid transparent;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor:default;
	font-weight: 700;
	padding: 1.125rem 0.75rem;
}

.panel-body {
	-moz-border-bottom-left-radius: 6px;
	-o-border-bottom-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 1.125rem 0.75rem;

	-moz-border-bottom-right-radius: 6px;
	-o-border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.panel-default {
	border-color: #CCCCCC;
}

.panel-default > .panel-title {
	background-color: #F9F9F9;
	color: #555555;
	border-bottom-color: #CCCCCC;
}

.panel-success {
	border-color: #93E7B6;
}

.panel-success > .panel-title {
	background-color: #D8F6E5;
	color: #29B765;
	border-bottom-color: #93E7B6;
}

.panel-info {
	border-color: #84E9E1;
}

.panel-info > .panel-title {
	background-color: #C3F4F0;
	color: #20B4A8;
	border-bottom-color: #84E9E1;
}

.panel-warning {
	border-color: #F9CF8B;
}

.panel-warning > .panel-title {
	background-color: #FDEED7;
	color: #E08E0B;
	border-bottom-color: #F9CF8B;
}

.panel-danger {
	border-color: #F5B4AE;
}

.panel-danger > .panel-title {
	background-color: #FEF5F4;
	color: #E43725;
	border-bottom-color: #F5B4AE;
}

.panel-primary {
	border-color: #5FAEE3;
}

.panel-primary > .panel-title {
	background-color: #F5FAFD;
	color: #217DBB;
	border-bottom-color: #5FAEE3;
}

/*	Media Queries
*********************************************************/

@media screen and (maxs-width: 1280px) {
	.hide-desktop {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 800px){
	.hide-tablet {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 478px) {
	.hide-mobile {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 478px) {
	.show-mobile {
		visibility: visible !important;
		display: block !important;
	}
}

.show-mobile {
	display: none;
	visibility: hidden;
}

.show-tablet {
	display: none;
	visibility: hidden;
}

@media screen and (max-width: 800px) {
	.show-tablet {
		display: block !important;
		visibility: visible !important;
	}
}

.show-desktop {
	display: none;
	visibility: hidden;
}

@media screen and (min-width: 1280px) {
	.show-desktop {
		display: block;
		visibility: visible;
	}
}

/*	Tablas
*********************************************************/

table tbody tr.table-primary td,
table tbody tr:hover.table-primary td {
	background: #EAF4FB;
	color: #196090;
}

table tbody tr.table-success td,
table tbody tr:hover.table-success td {
	background: #E2F8EB;
	color: #1B7943;
}

table tbody tr.table-info td,
table tbody tr:hover.table-info td {
	background: #D7F8F5;
	color: #15736b;
}

table tbody tr.table-warning td,
table tbody tr:hover.table-warning td {
	background: #FEF5E8;
	color: #976008;
}

table tbody tr.table-danger td,
table tbody tr:hover.table-danger td {
	background: #FEF5F4;
	color: #D62C1A;
}
