/*!
* @package   ResponsiveUI
* @filename  responsive-ui-tabs.css
* @version   1.0
* @autor     Diaz Urbaneja Victor Eduardo Diex <victor.vector008@gmail.com>
* @date      2016
*/

.tabs {
    border-bottom:2px solid #478FCA;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width:100%;
}

.tabs li {
    background:#F9F9F9;
    border-bottom:none !important;
    border-right:none !important;
    border:1px solid #C5D0DC;
    color:#999;
    cursor: pointer;
    display: inline-block;
    line-height:2em;
    margin-right:-4px !important;
    margin:0;
    padding: 10px 20px 5px 20px;
}

.tabs li:hover {
    background:#FFF;
    color:#478FCA;
    transition:all 0.25s ease-in-out 0s;
    -moz-transition:all 0.25s ease-in-out 0s;
    -ms-transition:all 0.25s ease-in-out 0s;
    -o-transition:all 0.25s ease-in-out 0s;
    -webkit-transition:all 0.25s ease-in-out 0s;
}

.tabs li:last-child {
    border-right:1px solid #C5D0DC !important;
}

.tabs li.current {
    background:#478FCA;
    border-right:1px solid #2A699C !important;
    border:1px solid #2A699C;
    color:#FFF;
    cursor:default;
}

.tab-content {
    border-top:none !important;
    border:2px solid #478FCA;
    display: none;
    line-height:1.4;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

@media screen and ( max-width:495px ) {
    .tabs li {
        display:block;
    }

    .tabs li {
        border-right:1px solid #C5D0DC !important;
        margin-right:inherit !important;
    }

    .tabs li:active {
        background:#FFF;
        color:#478FCA;
    }
}
