/*!
* @package   ResponsiveUI
* @filename  responsive-ui-validator.css
* @version   1.0
* @autor     Diaz Urbaneja Victor Eduardo Diex <victor.vector008@gmail.com>
* @date      2016
*/

.validate {
	border-color:red !important;
}

.cont_msg {
	margin-top:20px;
	display: none;
	color:#CD793B;
	background:#FFF1F0;
	padding:5px;
	text-align:center;
	width:100%;
}

.validate_alert {
	border-color:red !important;
}
