/*!
* @package   ResponsiveUI
* @filename  responsive-ui-accordion.css
* @version   1.0
* @autor     Diaz Urbaneja Victor Eduardo Diex <victor.vector008@gmail.com>
* @date      2016
*/

.accordion-section-title {
	display:block;
	width:100%;
	outline:0;
	margin-bottom:0;
}

.accordion-section-title {
	background:#F9F9F9;
	color:#478FCA !important;
	font-weight:normal;
	padding:5px 10px;
	position:relative;
	border:1px solid #CDD8E3;
	border-bottom:none !important;
	text-decoration:none !important;
}

.accordion-section-content {
	padding:10px;
	display:none;
}

.accordion-section-content {
	border:1px solid #CDD8E3;
	border-bottom:none;
	border-top:none;
	margin-top:0;
}

.accordion-section-title.active {
	border-bottom:1px solid #CDD8E3 !important;
	background:#F1F1F1;
}

.accordion-section-title:hover {
	background:#F1F1F1;
	transition:all 0.25s ease-in-out 0s;
	-moz-transition:all 0.25s ease-in-out 0s;
	-ms-transition:all 0.25s ease-in-out 0s;
	-o-transition:all 0.25s ease-in-out 0s;
	-webkit-transition:all 0.25s ease-in-out 0s;
}

.accordion-section:last-child {
	border-bottom:1px solid #CDD8E3 !important;
}
