/**!
 * ResponsiveUI Framework v3.5.1
 * Copyright 2016, Victor Eduardo Diex Díaz Urbaneja <victor.vector008@gmail.com>
 * www.responsiveui.com.ve
 * Free to use under the GPL license.
 * https://www.gnu.org/licenses/lgpl.html
 * 8/20/2016
 */

/**
 * Table of contents
 * Base Styles
 * Grid
 * Typography
 * Navegation
 * Link
 * Buttons
 * Forms
 * Tables
 * Code
 * Media Queries
 */

/*	Base Styles
********************************************************/

body {
	color: #777;
	font: 400 16px/1.6 "Ubuntu", Verdana, Helvetica, Arial, sans-serif;
}

img {
	border: 0;
	width: 100%;
	vertical-align: middle;
	page-break-inside: avoid;
	max-width: 1000px;
}

/*	Grid
********************************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	width: 85%;
	padding-left: 15px;
	padding-right: 15px;
}

.container,
.flex {
	max-width: none;
}

.container,
.edge {
	max-width: none;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

/*
.row {
	margin-left: -15px;
	margin-right: -15px;
}
*/

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

[class*="col-"] {
/*
	padding-left: 15px;
	padding-right: 15px;
*/
	float: left;
	/*        margin-bottom: 1.5rem;*/
}

.col-1 {
	width: 10%;
}

.col-2 {
	width: 20%;
}

.col-3 {
	width: 30%;
}

.col-4 {
	width: 40%;
}

.col-5 {
	width: 50%;
}

.col-6 {
	width: 60%;
}

.col-7 {
	width: 70%;
}

.col-8 {
	width: 80%;
}

.col-9 {
	width: 90%;
}

.col-10 {
	width: 100%;
}

/*
@media (max-width: 400px) {
	.col-1 {
		width: 100%;
	}
	.col-2 {
		width: 100%;
	}
	.col-3 {
		width: 100%;
	}
	.col-4 {
		width: 100%;
	}
	.col-5 {
		width: 100%;
	}
	.col-6 {
		width: 100%;
	}
	.col-7 {
		width: 100%;
	}
	.col-8 {
		width: 100%;
	}
	.col-9 {
		width: 100%;
	}
	.col-10 {
		width: 100%;
	}
}
*/


@media (max-width: 800px) {
	.col-md-1 {
		width: 10%;
	}
	.col-md-2 {
		width: 20%;
	}
	.col-md-3 {
		width: 30%;
	}
	.col-md-4 {
		width: 40%;
	}
	.col-md-5 {
		width: 50%;
	}
	.col-md-6 {
		width: 60%;
	}
	.col-md-7 {
		width: 70%;
	}
	.col-md-8 {
		width: 80%;
	}
	.col-md-9 {
		width: 90%;
	}
	.col-md-10 {
		width: 100%;
	}
	.col-md-33 {
		width: 33.33%;
	}
	.col-md-66 {
		width: 66.67%;
	}
	.col-md-25 {
		width: 25%;
	}
	.col-md-75 {
		width: 75%;
	}
}

@media (max-width: 408px) {
	.col-sm-1 {
		width: 10%;
	}
	.col-sm-2 {
		width: 20%;
	}
	.col-sm-3 {
		width: 30%;
	}
	.col-sm-4 {
		width: 40%;
	}
	.col-sm-5 {
		width: 50%;
	}
	.col-sm-6 {
		width: 60%;
	}
	.col-sm-7 {
		width: 70%;
	}
	.col-sm-8 {
		width: 80%;
	}
	.col-sm-9 {
		width: 90%;
	}
	.col-sm-10 {
		width: 100%;
	}
	/*
	[data-ispos*=sm-33] {
		width: 33.33%;
	}
	[data-ispos*=sm-66] {
		width: 66.67%;
	}
	[data-ispos*=sm-25] {
		width: 25%;
	}
	[data-ispos*=sm-75] {
		width: 75%;
	}
*/
}

.clear:before,
.clear:after {
	content: " ";
	display: table;
}

/*	Typography
*********************************************************/

@font-face {
	font-family: 'Quenda';
	src: local('Quenda'), url('../fonts/Quenda.otf') format('opentype');
}

hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-weight: 300;
	margin-bottom: 2rem;
	margin-top: 0;
}

h1,.h1 {
	font-size: 40px !important;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

h2,.h2 {
	font-size: 35px !important;
	line-height: 1.25;
	letter-spacing: -.1rem;
}

h3,.h3 {
	font-size: 30px !important;
	line-height: 1.3;
	letter-spacing: -.1rem;
}

h4,.h4 {
	font-size: 25px !important;
	line-height: 1.35;
	letter-spacing: -.08rem;
}

h5,.h5 {
	font-size: 20px !important;
	line-height: 1.5;
	letter-spacing: -.05rem;
}

h6,.h6 {
	font-size: 15px !important;
	line-height: 1.6;
	letter-spacing: 0;
}

ul li ul li,
ol li ol li {
	list-style: circle;
	list-style-position: inside;
}

blockquote {
	font-size: 16px;
	font-size: 1rem;
	margin-top: 10px;
	margin-top: 0.625rem;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
	margin-left: 50px;
	margin-left: 3.125rem;
	padding-left: 16px;
	padding-left: 1rem;
	border-left: 5px solid #AAA;
}

blockquote.text-right {
	border-right: 5px solid #AAA;
	border-left: none;
	font-size: 16px;
	font-size: 1rem;
	margin-top: 10px;
	margin-top: 0.625rem;
	margin-bottom: 10px;
	margin-bottom: 0.625rem;
	margin-right: 50px;
	margin-right: 3.125rem;
	padding-right: 16px;
	padding-right: 1rem;
}

blockquote cite {
	font-weight: bold;
	display: block;
	color: #AAA;
}

blockquote cite:before {
	content: "— ";
}

blockquote q {
	color: #EB7711;
}

p {
	margin-bottom: 20px;
}

/*	Navegation
*********************************************************/

.nav-bar {
	padding-left: 0px !important;
	padding-right: 0px !important;
	border: 1px solid #DDD;
	border-top: none;
	margin-bottom: 20px;
}

.nav-bar ul {
	list-style: none;
}

.nav-item li {
	border-bottom: 1px solid #DDD;
	color: #777;
	margin-bottom: 0px;
	padding: 5px;
	display: block;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.nav-item a {
	border-top: 1px solid #DDD;
	color: #777;
	display: block;
	margin-bottom: 0px;
	outline: 0;
	padding: 5px;
	text-decoration: none;
}

.nav-item a:hover {
	text-decoration: none;
	background: #EEE;
	color: #555;
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
}

.nav-item a i {
	line-height: inherit;
}

.nav-item a.active {
	background: #3498DB;
	color: #FFF;
	font-weight: bold;
	pointer-events: none;
}

/*	Navegation -  Pagination
*********************************************************/

.pagination ul {
	list-style: none;
	cursor: default;
}

.pagination ul li {
	border: 1px solid #DDDDDD;
	display: inline-block;
	margin-right: -6px;
}

.pagination ul li a,
.pagination ul li button {
	background: #FFF;
	color: #777;
	outline: 0;
	padding: 10px 20px;
	text-decoration: none;
	display: block;
}

.pagination ul li a:hover,
.pagination ul li button:hover {
	background: #EEE;
	color: #555;
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
}

.pagination li a.active,
.pagination ul li button.active {
	background: #3498DB;
	font-weight: bold;
	color: #FFF;
	pointer-events: none;
}

.pagination li a.active:hover,
.pagination ul li button.active:hover {
	background: #3498DB;
	font-weight: bold;
	color: #FFF;
}

/*	Links
*********************************************************/

a {
	color: #3498DB;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #258CD1;
	text-decoration: underline;
}

.link {
	text-decoration: underline;
}

/*	Buttons
*********************************************************/

[class^="btn"]:hover {
	transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
}

.btn {
	font-size: 1rem;
	padding: 5px 12px;
	display: inline-block;
	text-decoration: none !important;
	margin-bottom: 20px !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.btn-sm {
	height: 25px;
	line-height: 15px;
	font-size: 12px;
}

.btn-lg {
	padding: 25px !important;
	line-height: 5px;
	font-size: 20px;
	width: 12rem;
}

.btn-default {
	border: 1px solid #AAA;
	color: #AAA;
	background: inherit !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-default:hover {
	border: 1px solid grey;
	color: grey;
}

.btn-primary {
	background: #3498DB;
	border: 1px solid #2386C8;
	color: #FFF !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-primary:hover {
	background: #258CD1 !important;
	border-color: #2077B2 !important;
}

.btn-success {
	background: #2ECC71;
	border: 1px solid #27AF61;
	color: #fff !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-success:hover {
	background: #29B765;
	border-color: #239A55;
}

.btn-info {
	background: #24CABC;
	border: 1px solid #1FACA0;
	color: #fff !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-info:hover {
	border-color: #1B968C;
	background: #20B4A8;
}

.btn-danger {
	background: #E74C3C;
	border: 1px solid #CD2A19;
	color: #fff !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-danger:hover {
	background: #E43725;
	border-color: #CD2A19;
}

.btn-warning {
	background: #F39C12;
	border: 1px solid #D6880B;
	color: #fff !important;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
}

.btn-warning:hover {
	background: #E08E0B;
	border-color: #BE780A;
}

.btn-disabled {
	opacity: 0.50;
	pointer-events: none;
}

.input-disabled {
	pointer-events: none;
	background: #EEE !important;
	color: grey !important;
}

.input-disabled>label {
	pointer-events: none;
}

/* Buttons - Outline
*********************************************************/

.btn-default-outline {
	background: #FFFFFF;
	border: 1px solid #AAA;
	color: #AAA;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-default-outline:hover {
	background: #D5D5D5;
	color: #FFF;
}

.btn-primary-outline {
	background: #FFFFFF;
	border: 1px solid #3498DB;
	color: #3498DB;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-primary-outline:hover {
	background: #3498DB;
	color: #FFF;
}

.btn-success-outline {
	background: #FFFFFF;
	border: 1px solid #2ECC71;
	color: #27AF61;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-success-outline:hover {
	background: #27AF61;
	color: #FFF;
}

.btn-info-outline {
	background: #FFFFFF;
	border: 1px solid #24CABC;
	color: #24CABC;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-info-outline:hover {
	background: #24CABC;
	color: #FFF;
}

.btn-danger-outline {
	background: #FFFFFF;
	border: 1px solid #E74C3C;
	color: #E74C3C;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-danger-outline:hover {
	background: #E74C3C;
	color: #FFF;
}

.btn-warning-outline {
	background: #FFFFFF;
	border: 1px solid #F39C12;
	color: #F39C12;
	display: inline-block;
	margin: 0;
	outline: 0;
	text-align: center;
}

.btn-warning-outline:hover {
	background: #F39C12;
	color: #FFF;
}

/*	Forms
*********************************************************/

legend ,label {
	font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,input[type="url"]{
	float:none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,
select,
input[type="url"] {
	background: #FFF;
	border: 1px solid #CCC;
	height: 38px;
	//margin-bottom: 20px;
	padding: 0.5rem 0.875rem;
	letter-spacing: 1px;
	box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-o-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
	border-color: #FFA500;
}

option {
	padding: 5px;
}

select:hover {
	border: 1px solid #AAA;
	transition: all 0.25s ease-in-out 0s;
	-moz-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	-o-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
}

select ,option {
	cursor: pointer;
}

textarea {
	font-size: 13.4px;
	max-height: 200px;
	min-height: 100px;
	resize: both;
	width: 100%;
}

optgroup {
	cursor: default !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/*	Forms - Placeholder
*********************************************************/

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #999 !important;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #999 !important;
	opacity: 1;
}

:-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #999 !important;
	opacity: 1;
}

::-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #999;
}

/*	Forms - Icon input
*********************************************************/

.icon-input {
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 16px;
	padding: 6px 6px;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 3px;
	color: #999;
	cursor: default;
	top: 3px;
	z-index: 3;
	overflow: hidden;
}

.form-icon {
	position: relative;
}

.form-icon:not(.form-icon-flip)>input {
	padding-left: 30px !important;
}

/*	Table
*********************************************************/

table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	display: table;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #777777;
}

table {
	border: 1px solid #cccccc;
}

table>tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

table>thead>tr>th,
table>tbody>tr>td {
	border: 1px solid #cccccc;
}

table>thead>tr>th {
	background-color: #f9f9f9;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.92);
}

table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #cccccc;
	color: #555555;
}

table>thead>tr>th {
	border-bottom-width: 1px;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
	padding: 0.75rem;
	line-height: 1.3125;
	vertical-align: middle;
	border-top: 1px solid #cccccc;
	text-align: left;
}

table>tbody>tr:hover,
table>tfoot>tr:hover,
table>thead>tr:hover>td,
table>tbody>tr:hover>td,
table>tfoot>tr:hover>td,
table>tbody>tr>td:hover,
table>tfoot>tr>td:hover {
	background-color: #f9f9f9;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>td {
	border-top: 0;
}


/*	Code
*********************************************************/

pre {
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 14px !important;
	background: #F8F8F8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

code {
	white-space: pre-line;
	font-family: "Source Code Pro" !important;
}

mark {
	background: #F9F9F9 !important;
	border: 1px solid #DDD;
	color: #E43725 !important;
	padding: 1px 5px;
	vertical-align: middle;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/*	Media Queries
*********************************************************/

@media screen and (max-width: 47.9375rem) {
	.responsive-table {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
	}
}

/* Mobile */
@media screen and (max-width: 408px) {}

/* Tablet */
@media screen and (max-width: 800px) {}

/* Desktop */
@media screen and (max-width: 1200px) {}
